<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music App</title>
</head>

<body>
    <h1>Catchy </h1>
    <form action="">
        <input type="text" placeholder="search music">
        <button>Add</button>
        <li> <a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </form>

</body>

</html>