<h1>This is a screte page</h1>
<p>You can't see this message untill you logged in</p>

<li> <a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>